@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--font-inter:
		ui-sans-serif, -apple-system, BlinkMacSystemFont,
		'Segoe UI Variable Display', 'Segoe UI', Helvetica, 'Apple Color Emoji',
		Arial, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
}
* {
	scrollbar-color: rgba(255, 255, 255, 0.2) rgba(0, 0, 0, 0);
}
body {
	font-family:
		ui-sans-serif,
		-apple-system,
		BlinkMacSystemFont,
		'Segoe UI Variable Display',
		'Segoe UI',
		Helvetica,
		'Apple Color Emoji',
		Arial,
		sans-serif,
		'Segoe UI Emoji',
		'Segoe UI Symbol';

	overflow-y: hidden;
}
*::before,
*::after {
	box-sizing: border-box;
	outline: none;
}

.custom-emoji-picker {
	/* --background-rgb: var(hsl(--card)); */
	--border-radius: 24px;
	--category-icon-size: 24px;
	--color-border-over: rgba(0, 0, 0, 0);
	--color-border: rgba(0, 0, 0, 0);

	--font-size: 20px;
	--rgb-accent: var(hsl(--sidebar-accent));
	--rgb-background: 0, 0, 0, 0;
	--rgb-color: hsl(var(--muted-foreground));
	--rgb-input: 0, 0, 0;
	--shadow: 5px 5px 15px -8px var(--card);
	--em-rgb-input: 0, 0, 0, 0;
}

:root {
	--background: 0 0% 100%;

	--foreground: 0 0% 3.9%;
	--card: 0 0% 98%;
	--card-primary: 0 0% 94%;
	--card-secondary: 0 0% 96%;
	--card-foreground: 0 0% 3.9%;
	--popover: 0 0% 100%;
	--popover-foreground: 0 0% 3.9%;
	--primary: 0 0% 9%;
	--primary-foreground: 0 0% 98%;
	--secondary: 0 0% 96.1%;
	--secondary-foreground: 0 0% 9%;
	--third: 0 0% 100%;
	--muted: 0 0% 96.1%;
	--muted-foreground: 0 0% 45.1%;
	--accent: 0 0% 96.1%;
	--accent-foreground: 0 0% 9%;
	--destructive: 0 84.2% 60.2%;
	--destructive-foreground: 0 0% 98%;
	--border: 0 0% 89.8%;
	--input: 0 0% 89.8%;
	--ring: 0 0% 3.9%;
	--chart-1: 12 76% 61%;
	--chart-2: 173 58% 39%;
	--chart-3: 197 37% 24%;
	--chart-4: 43 74% 66%;
	--chart-5: 27 87% 67%;
	--radius: 0.5rem;
	--apply: 151, 55%, 42%;
	--apply-foreground: 0 0% 98%;
	--apply-hover: 151.2, 54.8%, 36.5%;
	--bg-primary: 205, 84%, 36%;

	--sidebar-background: 0 0% 98%;
	--sidebar-foreground: 240 5.3% 26.1%;
	--sidebar-primary: 240 5.9% 10%;
	--sidebar-primary-foreground: 0 0% 98%;
	--sidebar-accent: 240 4.8% 95.9%;
	--sidebar-accent-foreground: 240 5.9% 10%;
	--sidebar-border: 220 13% 91%;
	--sidebar-ring: 217.2 91.2% 59.8%;

	--bn-colors-editor-background: #e03e3e !important;
	--bn-colors-highlights-gray-text: #9b9a97;
	--bn-colors-highlights-gray-background: #265a8e !important;
	--bn-colors-highlights-brown-text: #64473a;
	--bn-colors-highlights-brown-background: #e9e5e3 !;
	--bn-colors-highlights-red-text: #e03e3e;
	--bn-colors-highlights-red-background: #fbe4e4;
	--bn-colors-highlights-orange-text: #d9730d;
	--bn-colors-highlights-orange-background: #f6e9d9;
	--bn-colors-highlights-yellow-text: #dfab01;
	--bn-colors-highlights-yellow-background: #fbf3db;
	--bn-colors-highlights-green-text: #4d6461;
	--bn-colors-highlights-green-background: #ddedea;
	--bn-colors-highlights-blue-text: #0b6e99;
	--bn-colors-highlights-blue-background: #ddebf1;
	--bn-colors-highlights-purple-text: #6940a5;
	--bn-colors-highlights-purple-background: #eae4f2;
	--bn-colors-highlights-pink-text: #ad1a72;
	--bn-colors-highlights-pink-background: #f4dfeb;
}
.dark {
	--background: 0 0% 9.8%;

	--foreground: 0 0% 80%;
	--card: 0 0% 13%;
	--card-primary: 240 7% 20%;
	--card-secondary: 0 0% 100%;
	--card-foreground: 0 0% 98%;
	--popover: 0 0% 7%;
	--popover-foreground: 0 0% 98%;
	--primary: 0 0% 98%;
	--primary-foreground: 0 0% 9%;
	--secondary: 0 0% 12.55%;
	--secondary-foreground: 0 0% 98%;
	--third: 0 0% 14.51%;
	--muted: 0 0% 14.9%;
	--muted-foreground: 0 0% 63.9%;
	--accent: 0 0% 14.9%;
	--accent-foreground: 0 0% 98%;
	--destructive: 0 62.8% 30.6%;
	--destructive-foreground: 0 0% 98%;
	--border: 240 3.7% 15.9%;
	--input: 0 0% 14.9%;
	--ring: 0 0% 83.1%;
	--chart-1: 220 70% 50%;
	--chart-2: 160 60% 45%;
	--chart-3: 30 80% 55%;
	--chart-4: 280 65% 60%;
	--chart-5: 340 75% 55%;

	--sidebar-background: 0 0% 12.55%;
	--sidebar-foreground: 240 4.8% 95.9%;
	--sidebar-primary: 0 0% 98%;
	--sidebar-primary-foreground: 240 5.9% 10%;
	--sidebar-accent: 240 3.7% 15.9%;
	--sidebar-accent-foreground: 240 4.8% 95.9%;
	--sidebar-border: 240 3.7% 15.9%;
	--sidebar-ring: 217.2 91.2% 59.8%;

	--bn-colors-highlights-gray-text: #a3a3a333 !important;
	--bn-colors-highlights-gray-background: #a3a3a380 !important;
	--bn-colors-highlights-brown-text: #64473a;
	--bn-colors-highlights-brown-background: #e9e5e3;
	--bn-colors-highlights-red-text: #e03e3e;
	--bn-colors-highlights-red-background: #fbe4e4;
	--bn-colors-highlights-orange-text: #d9730d;
	--bn-colors-highlights-orange-background: #f6e9d9;
	--bn-colors-highlights-yellow-text: #dfab01;
	--bn-colors-highlights-yellow-background: #fbf3db;
	--bn-colors-highlights-green-text: #4d6461;
	--bn-colors-highlights-green-background: #ddedea;
	--bn-colors-highlights-blue-text: #0b6e99;
	--bn-colors-highlights-blue-background: #ddebf1;
	--bn-colors-highlights-purple-text: #6940a5;
	--bn-colors-highlights-purple-background: #eae4f2;
	--bn-colors-highlights-pink-text: #ad1a72;
	--bn-colors-highlights-pink-background: #f4dfeb;
}

@layer utilities {
	.scrollbar-custom {
		/* Firefox */
		position: relative;
		scrollbar-gutter: stable;
		scrollbar-width: none;
		scrollbar-color: rgba(0, 0, 0, 0.3) transparent;

		/* WebKit */
		&::-webkit-scrollbar {
			width: 8px;
			background: transparent;
		}
		&::-webkit-scrollbar-thumb {
			border: 8px solid transparent;
			background: rgba(0, 0, 0, 0.3);
			background-clip: content-box;
			min-height: 50px;
		}
		&::-webkit-scrollbar-thumb:hover {
			background: rgba(0, 0, 0, 0.8);
		}
		&::-webkit-scrollbar-track {
			background: red;
		}
	}
	.scrollbar-custom-container {
		overflow: hidden;
		border-radius: 24px;
		position: relative;
	}
	.draggable {
		transition:
			transform 0.2s ease-in-out,
			box-shadow 0.2s ease-in-out;
	}
}

.crossed-out {
	position: relative;
}

.crossed-out::after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	height: 1.5px;
	background-color: rgba(255, 255, 255, 0.6);
	transform: scaleX(1);
	transform-origin: left center;
	transition: transform 0.4s ease-in-out;
}

.not-crossed-out::after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	height: 1.5px;
	background-color: rgba(255, 255, 255, 0.6);
	transform: scaleX(0);
	transform-origin: left center;
	transition: transform 0.4s ease-in-out;
}

.mask-image {
	margin-right: 0px;
	margin-bottom: 0px;

	mask-image: linear-gradient(
		to right,
		transparent 0%,
		black 96px,
		black calc(100% - 96px),
		transparent 100%
	);
}

@media (max-width: 768px) {
	[data-mask='true'] {
		mask-image: none !important;
		-webkit-mask-image: none !important;
	}
}

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 240 10% 3.9%;
		--card: 0 0% 100%;
		--card-foreground: 240 10% 3.9%;
		--popover: 0 0% 100%;
		--popover-foreground: 240 10% 3.9%;
		--primary: 240 5.9% 10%;
		--primary-foreground: 0 0% 98%;
		--secondary: 240 4.8% 95.9%;
		--secondary-foreground: 240 5.9% 10%;
		--muted: 240 4.8% 95.9%;
		--muted-foreground: 240 3.8% 46.1%;
		--accent: 240 4.8% 95.9%;
		--accent-foreground: 240 5.9% 10%;
		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 0 0% 98%;
		--border: 240 5.9% 90%;
		--input: 240 5.9% 90%;
		--ring: 240 10% 3.9%;
		--chart-1: 12 76% 61%;
		--chart-2: 173 58% 39%;
		--chart-3: 197 37% 24%;
		--chart-4: 43 74% 66%;
		--chart-5: 27 87% 67%;
		--radius: 0.5rem;
		--color-default: 161, 161, 170, 0.2;
		--color-gray: 161, 161, 170, 0.3;
		--color-brown: 189, 78, 0, 0.4;
		--color-orange: 224, 113, 0, 0.4;
		--color-yellow: 255, 155, 0, 0.5;
		--color-green: 0, 153, 102, 0.5;
		--color-blue: 0, 188, 255, 0.3;
		--color-purple: 173, 71, 255, 0.3;
		--color-pink: 246, 49, 154, 0.3;
		--color-red: 251, 45, 55, 0.3;
	}
	.dark {
		--background: 240 10% 3.9%;
		--foreground: 0 0% 98%;
		--card: 240 10% 3.9%;
		--card-foreground: 0 0% 98%;
		--popover: 240 10% 3.9%;
		--popover-foreground: 0 0% 98%;
		--primary: 0 0% 98%;
		--primary-foreground: 240 5.9% 10%;
		--secondary: 240 3.7% 15.9%;
		--secondary-foreground: 0 0% 98%;
		--muted: 240 3.7% 15.9%;
		--muted-foreground: 240 5% 64.9%;
		--accent: 240 3.7% 15.9%;
		--accent-foreground: 0 0% 98%;
		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 0% 98%;
		--border: 240 3.7% 15.9%;
		--input: 240 3.7% 15.9%;
		--ring: 240 4.9% 83.9%;
		--chart-1: 220 70% 50%;
		--chart-2: 160 60% 45%;
		--chart-3: 30 80% 55%;
		--chart-4: 280 65% 60%;
		--chart-5: 340 75% 55%;

		--color-default: 161, 161, 170, 0.2;
		--color-gray: 161, 161, 170, 0.3;
		--color-brown: 189, 78, 0, 0.4;
		--color-orange: 224, 113, 0, 0.4;
		--color-yellow: 255, 155, 0, 0.5;
		--color-green: 0, 153, 102, 0.5;
		--color-blue: 0, 188, 255, 0.3;
		--color-purple: 173, 71, 255, 0.3;
		--color-pink: 246, 49, 154, 0.3;
		--color-red: 251, 45, 55, 0.3;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
